.input:focus {
  &[aria-invalid="false"]{
    border: 2px solid var(--mantine-color-myColor-4);
  }
}

.input {
  border: 2px solid var(--_input-bd);
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

.label {
  margin-bottom: 8px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

.error {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}